@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.search-section {
    background-color: #433626;
    background-size: cover;
    height: 138px;
    /* width: 1536px; */
}

.search-section .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    /* Width: 1208px; */
    /* height: 115px; */
}

.search-section .navbar .logo {
    max-width: 223px;
}

.search-section .navbar .logo img {
    width: 100%;
    /* margin-top: 44px; */
}

.search-section .navbar .menubar-list .number {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-bottom: 18px;
}

.search-section .navbar .menubar-list .number a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.63px;
    letter-spacing: 0%;
    margin-left: 10px;

}

.search-section .navbar .menubar-list .navbar-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-section .navbar .menubar-list .navbar-list ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
    font-family: "Roboto Flex", serif;
    padding-left: 48.21px;
    text-transform: uppercase;
}

.first-section .container .main {
    border-bottom: 1px solid black;
    padding-top: 34px;
    padding-bottom: 36px;

}

.first-section .container .main .outter1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-section .container .main .outter1 .left-inner {
    text-align: start;
}

.first-section .container .main .outter1 .left-inner .title h1 {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 176%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.first-section .container .main .outter1 .left-inner .detail p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.first-section .container .main .outter1 .right-inner {
    text-align: end;
}

.first-section .container .main .outter1 .right-inner .title {
    display: flex;

}

.first-section .container .main .outter1 .right-inner .title h1 {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 176%;
    letter-spacing: 0%;
    text-transform: uppercase;
}




.first-section .container .main .outter2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 42px;

}

.first-section .container .main .outter2 .left-inner {
    padding-right: 30px;
}

.first-section .container .main .outter2 .left-inner img {
    width: 705px;
    height: 580px;
}

.first-section .container .main .outter2 .right-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-section .container .main .outter2 .right-inner img {
    width: 464px;
    height: 280px;
}

.first-section .container .main .outter3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
}

.first-section .container .main .outter3 .outter-wrapper {
    width: 25%;
}

.first-section .container .main .outter3 .outter-wrapper .title h1 {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 176%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.first-section .container .main .outter3 .outter-wrapper .subtitle h2 {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 176%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.second-section .container .main .outter {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
}

.second-section .container .main .outter .left-inner {
    width: 60%;
    padding-left: 43px;
    padding-right: 63px;
    /* height: 683px; */
}

.second-section .container .main .outter .left-inner .inner-wrapper1 {
    border: 10px solid #473B26;
    width: 570px;
    /* height: 499px; */
}

.second-section .container .main .outter .left-inner .inner-wrapper1 .title h1 {
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 176%;
    letter-spacing: 0%;
    text-transform: capitalize;
    padding-left: 8px;
}

.second-section .container .main .outter .left-inner .inner-wrapper1 .content1 p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 176%;
    letter-spacing: 0%;
    text-align: justify;
    display: flex;
    justify-content: center;
    width: 540px;
    text-transform: capitalize;
    /* padding-left: 7px; */
    
}


.second-section .container .main .outter .left-inner .inner-wrapper2 .title h2 {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: justify;
    text-transform: capitalize;
    padding-top: 18px;
}



.second-section .container .main .outter .left-inner .inner-wrapper2 .detail p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-align: justify;
    text-transform: capitalize;
    width:570px;
    /* padding-bottom: 42px; */
}

.second-section .container .main .outter .right-inner {
    /* width: 50%; */
    border: 10px solid #EFE9E9;
    padding: 10px;
}

.second-section .container .main .outter .right-inner .title h3 {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 176%;
    letter-spacing: 0%;
    text-transform: capitalize;
    padding-bottom: 10px;
    /* padding-left: 11px; */
}

.second-section .container .main .outter .right-inner .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.second-section .container .main .outter .right-inner .wrapper .left-inner-wrapper {
    /* padding-left: 11px; */
    padding-right: 7px;

}

.second-section .container .main .outter .right-inner .wrapper .right-inner-wrapper .subtitle h4 {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 8%;
    text-transform: capitalize;
}

.second-section .container .main .outter .right-inner .wrapper .right-inner-wrapper .text p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 8%;
    text-transform: capitalize;
    color: #AFA7A7;
}

.second-section .container .main .outter .right-inner .wrapper .right-inner-wrapper .number p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 8%;
    text-transform: capitalize;
}

.second-section .container .main .outter .right-inner .notice p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: capitalize;
    /* padding-left: 11px; */
    /* padding-bottom: 27px; */
}

.second-section .container .main .outter .right-inner .form {
    padding-bottom: 17px;
}

.second-section .container .main .outter .right-inner .form label {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 5%;
    text-transform: capitalize;
    /* padding-left: 11px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 18px;
}

input[type="text"],
input[type="email"] {
    width: 408px;
    height: 36px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #000;
    margin-top: 6px;

}

.btn {
    width: 264px;
    height: 45px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 176%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.login-btn {
    background-color: #473B26;
    color: #fff;
    margin-top: 32px;

}

.second-section .container .main .outter .right-inner .last-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 17px; */
    padding-top: 30px;
    border-top: 1px solid black;
    /* flex-wrap: wrap; */
}

.second-section .container .main .outter .right-inner .last-inner .last-left-inner {
    max-width: 292px;
}

.second-section .container .main .outter .right-inner .last-inner .last-left-inner .title h5 {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 141%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.second-section .container .main .outter .right-inner .last-inner .last-left-inner .detail p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.second-section .container .main .outter .right-inner .last-inner .last-right-inner {
    padding-right: 52px;
}

.second-section .container .main .outter .right-inner .last-inner .last-right-inner .image {
    max-width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #FF0000;
    padding: 16px;

}

.second-section .container .main .outter .right-inner .last-inner .last-right-inner svg {
    height: 38px;
    width: 38px;
}







.last-section {
    background-image: url('..//image/last-section/last-section-bg.png');
    height: 477px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin-top: 91px;
}

.last-section .container .main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.last-section .container .main .outter {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* width: 33.33%; */
    width: 200px;
}


.last-section .container .main .outter .inner .logo {
    padding-top: 132px;
}

.last-section .container .main .outter .inner .title h1 {
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding-top: 140px;
    width: 400px;

}

.last-section .container .main .outter .inner .address p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding-top: 40px;
}

.last-section .container .main .outter .inner .gmail {
    padding: 40px 0;

}

.last-section .container .main .outter .inner .gmail a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
    /* padding-left: 60px; */
    display: flex;
    justify-content: center;
}

.last-section .container .main .outter .inner .contect a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
    /* padding-left: 110px; */
    display: flex;
    justify-content: center;
}

.last-section .container .main .outter .inner .title h5 {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding-top: 132px;
    padding-bottom: 23px;
}

.last-section .container .main .outter .inner .photo {
    padding-left: 45px;
}

.last-section .container .main .outter .inner .photo .icon {
    display: flex;
    /* padding-left: 70px; */
    flex-wrap: wrap;
    gap: 20px;
    max-width: 138px;
    justify-content: space-between;
}

.last-section .container .main .outter .inner .photo .icon img {
    /* width: 50%; */
    width: 41.29px;
    height: 43.75px;
    display: flex;
    flex-wrap: wrap;
}