@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}

.search-section {
    background-image: url(..//image/readmore1/readmore1-bg.png);
    background-size: cover;
    width: 100%;
    height: 552px;

}

.search-section .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    /* Width: 1208px; */
    /* height: 115px; */
}

.search-section .navbar .logo {
    max-width: 223px;
}

.search-section .navbar .logo img {
    width: 100%;
    /* margin-top: 44px; */
}

.search-section .navbar .menubar-list .number {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-bottom: 18px;
}

.search-section .navbar .menubar-list .number a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.63px;
    letter-spacing: 0%;
    margin-left: 10px;

}

.search-section .navbar .menubar-list .navbar-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-section .navbar .menubar-list .navbar-list ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
    font-family: "Roboto Flex", sans-serif;
    padding-left: 48.21px;
    text-transform: uppercase;
}

.search-section .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.search-section .container .title h1 {
    max-width: 645px;
    font-family: "Roboto Serif", serif;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 42.16px;
    letter-spacing: 0.1em;
    text-align: center;

}

.welcome-section .container .title {
    display: flex;
    align-items: center;
    justify-content: center;

}

.welcome-section .container .title h1 {
    font-family: "Roboto Slab", serif;
    /* max-width: 600px; */
    font-weight: 600;
    font-size: 36px;
    line-height: 47.48px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 70px;
    /* padding-left: 65px; */
}

.welcome-section .container .subtitle p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    /* letter-spacing: 3%; */
    text-align: justify;
    text-transform: capitalize;
    padding-top: 19px;
}

.welcome-section .container .detail p {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    /* letter-spacing: 3%; */
    text-align: justify;
    text-transform: capitalize;
    padding-top: 30px;
}

.map-section {
    padding: 70px 0;
}

.map-section iframe {
    display: flex;
    width: 1128px;
    height: 453px;
    margin: 0 auto;
}

.explore-section .container .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.explore-section .container .main .outter {
    width: 33.33%;
    /* padding: 10px; */
}


.explore-section .container .main .outter .content:hover {
    opacity: 1;

}

.explore-section .container .main .outter .content {
    width: 390px;
    height: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.explore-section .container .main .outter .content .title h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.75px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;

}

.explore-section .container .main .outter .content .location h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.75px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
}

.explore-section .container .main .outter .inner {
    height: 423px;
    width: 423px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.explore-section .container .main .outter .amd-bg {
    background-image: url('..//image/readmore1/amd-bg.png');
    /* height: 423px; */
    /* background-size: cover; */
}

.explore-section .container .main .outter .amd-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/amd-bg.png');
}

.explore-section .container .main .outter .jam-bg {
    background-image: url('..//image/readmore1/jam-bg.png');
}
.explore-section .container .main .outter .jam-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/jam-bg.png');
}

.explore-section .container .main .outter .rj-bg {
    background-image: url('..//image/readmore1/rj-bg.png');
}
.explore-section .container .main .outter .rj-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/rj-bg.png');
}

.explore-section .container .main .outter .vad-bg {
    background-image: url('..//image/readmore1/vad-bg.png');
}
.explore-section .container .main .outter .vad-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/vad-bg.png');
}

.explore-section .container .main .outter .srt-bg {
    background-image: url('..//image/readmore1/srt-bg.png');
}
.explore-section .container .main .outter .srt-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/srt-bg.png');
}

.explore-section .container .main .outter .jg-bg {
    background-image: url('..//image/readmore1/jg.bg.png');
}
.explore-section .container .main .outter .jg-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/jg.bg.png');
}

.explore-section .container .main .outter .dwa-bg {
    background-image: url('..//image/readmore1/dwa.bg.png');
}
.explore-section .container .main .outter .dwa-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/dwa.bg.png');
}

.explore-section .container .main .outter .bhav-bg {
    background-image: url('..//image/readmore1/bhav-bg.png');
}
.explore-section .container .main .outter .bhav-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/bhav-bg.png');
}

.explore-section .container .main .outter .pb-bg {
    background-image: url('..//image/readmore1/pb-bg.png');
}
.explore-section .container .main .outter .pb-bg:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url('..//image/readmore1/pb-bg.png');
}




.sixth-section {
    width: 100%;
    height: 639px;
    background-image: url('..//image/sixth-section/bg-image.png');
}

.sixth-section .outter-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    padding: 79px 0 50.88px;
    border-bottom: 2px solid white;
}

.sixth-section .outter-wrapper .left-inner {
    width: 40%;
    align-items: center;
    padding-top: 28px;
    color: #fff;
    text-align: center;
    /* max-wid  th: 586px; */
    border-right: 2px solid white;
}

.sixth-section .outter-wrapper .left-inner .content .title h4 {
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 37.5px;
    letter-spacing: 10%;
    /* text-align: center; */
    padding-bottom: 40px;

}

.sixth-section .outter-wrapper .left-inner .content .address p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 10%;
    /* text-align: center; */
    /* padding-bottom: 30px; */
}

.sixth-section .outter-wrapper .left-inner .content .gmail {
    padding: 40px 0;
}

.sixth-section .outter-wrapper .left-inner .content .gmail a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    /* text-align: center; */
    /* padding-bottom: 30px; */
    color: #fff;
    text-decoration: none;
}

.sixth-section .outter-wrapper .left-inner .content .contect a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 10%;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.sixth-section .outter-wrapper .right-inner {
    width: 60%;
    /* padding-top: 29px; */
    color: #fff;
    /* text-align: center; */
}

.sixth-section .outter-wrapper .right-inner .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 20.97px;
}

.sixth-section .outter-wrapper .right-inner .main .outter {
    width: 25%;
}

.sixth-section .outter-wrapper .right-inner .title h4 {
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0%;


}

.sixth-section .outter-wrapper .right-inner .content ul li {
    padding-top: 23px;
}

.sixth-section .outter-wrapper .right-inner .content ul li a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
    /* text-align: justify; */
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.sixth-section .copy-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 14px;
    justify-content: space-between;
}

.sixth-section .copy-right .logo {
    text-align: center;
    max-width: 222.65px;
    margin: 0 auto;
    width: 40%;
}

.sixth-section .copy-right .logo img {
    width: 100%;
}

.sixth-section .copy-right .social-media-icon {
    width: 60%;

}

.sixth-section .copy-right .social-media-icon .social-content {
    display: flex;
    flex-direction: column;
    max-width: 441.3px;
    margin-left: 252px;
}

.sixth-section .copy-right .social-media-icon .title {
    color: #fff;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;
    padding-top: 10px;


}

.sixth-section .copy-right .social-media-icon .icon {
    padding-bottom: 61px;
    padding-top: 28px;
    padding-left: 22.96px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: end; */
    /* justify-content: space-between; */

}

.sixth-section .copy-right .social-media-icon .icon img {
    margin-right: 68.88px;
}

.m-0 {
    margin: 0px !important;
}