@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.search-section {
    background-image: url('..//image/search-section/background-img.png');
    background-size: cover;
    height: 306px;
}

.search-section .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    /* Width: 1208px; */
    /* height: 115px; */
}

.search-section .navbar .logo {
    max-width: 223px;
}

.search-section .navbar .logo img {
    width: 100%;
    /* margin-top: 44px; */
}

.search-section .navbar .menubar-list .number {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
}

.search-section .navbar .menubar-list .number a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.63px;
    letter-spacing: 0%;
    margin-left: 10px;
}

.search-section .navbar .menubar-list .navbar-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-section .navbar .menubar-list .navbar-list ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
    font-family: "Roboto Flex", serif;
    padding-left: 47px;
}

.search-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 59px;
}

.search-input {

    border: 2px solid #ddd;
    /* outline: none; */
}

.search-container input {
    width: 487px;
    height: 35px;
    /* border: 1px solid black; */
    border: none;
}

.search-container button {
    width: 223px;
    height: 35px;
    /* border: 1px solid black; */
    border: none;
}

.search-button {


    /* transform: translateY(-50%); */
    /* background: none; */
    /* border: none; */
    cursor: pointer;
    background-color: #879BFF;
}

@media (max-width:768px) {
    .search-container input {
        width: 230px;

    }

    .search-container button {
        width: 130px;
    }
}
@media(max-width:376px){
    .search-section .navbar .logo {
        width: 100px;    
    }
    .search-container {
        display: flex;
        flex-wrap: nowrap;
    }

}
/* Toggle Button */
.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 376px) {

    /* Hide menu initially */
    .search-section .navbar .menubar-list .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        right: 0;
        background: rgba(0, 0, 0, 1);
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    /* Show menu when active */
    .search-section .navbar .menubar-list .navbar-list.active {
        display: flex;
    }

    .search-section .navbar .menubar-list .navbar-list ul {
        flex-direction: column;
        width: 100%;
    }

    .search-section .navbar .menubar-list .navbar-list ul li {
        padding: 10px 0;
    }

    .menu-toggle {
        /* display: block; */
        display: flex;
        justify-content: end;
    }

    .search-section .navbar {
        display: flex;
    }

    .search-section .navbar .logo img {
        width: 130px;
    }

    .search-section .navbar .menubar-list .navbar-list ul li a {
        padding: 0;
    }

    .search-section .navbar .menubar-list .navbar-list a {
        text-decoration: none;
    }

}
@media (max-width: 1024px) {
    .search-section .hero {
        justify-content: center;
        align-items: end;
        height: 80vh;
    }
}

@media (max-width: 700px) {
    .search-section .hero {
        align-items: start;
        margin-top: 100px;
        margin-right: 0px;
    }

    .search-section .hero .title h1 {
        font-size: 60px;
    }

}

.properties {
    width: 100%;
}

.properties .title {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 46.84px;
    letter-spacing: 0%;
    padding-top: 61px;
    padding-bottom: 60px;
    text-transform: capitalize;
}

.properties .outter {
    display: flex;
    flex-wrap: wrap;
}

.properties .outter .left-inner iframe {
    display: flex;
    flex-wrap: wrap;
    width: 707.41px;

}

.properties .outter .right-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 487.59px;
    padding-left: 21.98px;

}

.properties .outter .right-inner .properties-item {
    padding-bottom: 58px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.properties .outter .right-inner .properties-item img {
    /* padding-left: 21.98px; */
    padding-bottom: 11px;
    width: 223.81px;
    height: 223px;
    padding-right: 16.99px;
}

.properties-item .name p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24.02px;
    letter-spacing: 0%;
    text-transform: uppercase;
    /* text-align: center; */

}

.properties-item .detail p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24.02px;
    letter-spacing: 0%;
    text-transform: capitalize;
    padding-right: 52.99px;
    text-align: end;
}
@media(max-width:376px){
    .properties .outter .left-inner iframe {
        width: 350px;
        height: 400px;
        padding-bottom: 20px;  
    }
    .properties .outter .right-inner .properties-item {
        width:100%;
    }
    .properties-item .detail p{
        text-align: center;
    }
}

.table-section .title {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 46.84px;
    letter-spacing: 0%;
    padding-bottom: 39px;
    text-transform: capitalize;

}
.table-section .box{
    padding-bottom: 68px;
}
.table-section  table,th,td{
    border-collapse: collapse;
    border: 1px solid #000000
}
.table-section .box table{
    width: 1196px;
    height: 355px;
}

.table-section .box th {
    font-family: "Roboto Flex", serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: center;
    width: 50%;
}

.table-section .box td {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: center;
}
@media(max-width:376px){
    .table-section .box table{
        width: 350px;
    }
}


.sixth-section {
    width: 100%;
    height: 639px;
    background-image: url('..//image/sixth-section/bg-image.png');
}

.sixth-section .outter-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    padding: 79px 0 50.88px;
    border-bottom: 2px solid white;
}

.sixth-section .outter-wrapper .left-inner {
    width: 40%;
    align-items: center;
    padding-top: 28px;
    color: #fff;
    text-align: center;
    /* max-wid  th: 586px; */
    border-right: 2px solid white;
}

.sixth-section .outter-wrapper .left-inner .content .title h4 {
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 37.5px;
    letter-spacing: 10%;
    /* text-align: center; */
    padding-bottom: 40px;

}

.sixth-section .outter-wrapper .left-inner .content .address p {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 10%;
    /* text-align: center; */
    /* padding-bottom: 30px; */
}

.sixth-section .outter-wrapper .left-inner .content .gmail {
    padding: 40px 0;
}

.sixth-section .outter-wrapper .left-inner .content .gmail a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    /* text-align: center; */
    /* padding-bottom: 30px; */
    color: #fff;
    text-decoration: none;

}

.sixth-section .outter-wrapper .left-inner .content .contect a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 10%;
    text-align: center;
    color: #fff;
    text-decoration: none;


}

.sixth-section .outter-wrapper .right-inner {
    width: 60%;
    /* padding-top: 29px; */
    color: #fff;
    /* text-align: center; */
}

.sixth-section .outter-wrapper .right-inner .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 20.97px;
}

.sixth-section .outter-wrapper .right-inner .main .outter {
    width: 25%;
}

.sixth-section .outter-wrapper .right-inner .title h4 {
    font-family: "Roboto Flex", serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0%;


}

.sixth-section .outter-wrapper .right-inner .content ul li {
    padding-top: 23px;
}

.sixth-section .outter-wrapper .right-inner .content ul li a {
    font-family: "Roboto Flex", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0%;
    /* text-align: justify; */
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.sixth-section .copy-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 14px;
    justify-content: space-between;
}

.sixth-section .copy-right .logo {
    text-align: center;
    max-width: 222.65px;
    margin: 0 auto;
    width: 40%;
}

.sixth-section .copy-right .logo img {
    width: 100%;
}

.sixth-section .copy-right .social-media-icon {
    width: 60%;

}

.sixth-section .copy-right .social-media-icon .social-content {
    display: flex;
    flex-direction: column;
    max-width: 441.3px;
    margin-left: 252px;
}

.sixth-section .copy-right .social-media-icon .title {
    color: #fff;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    letter-spacing: 0%;
    padding-top: 10px;


}

.sixth-section .copy-right .social-media-icon .icon {
    padding-bottom: 61px;
    padding-top: 28px;

    padding-left: 22.96px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: end; */
    /* justify-content: space-between; */

}

.sixth-section .copy-right .social-media-icon .icon img {
    margin-right: 68.88px;
}

.m-0 {
    margin: 0px !important;
}
@media(max-width: 376px) {
    .sixth-section .outter-wrapper .left-inner {
        width: 100%;
    }

    .sixth-section .outter-wrapper .right-inner {
        width: 100%;
        text-align: center;
    }

    .sixth-section {
        height: auto;
    }

    .sixth-section .copy-right .logo {
        width: 100%;
    }

    .sixth-section .copy-right .social-media-icon .social-content {
        margin: 0;
    }

    .sixth-section .copy-right .social-media-icon {
        width: 100%;
        text-align: center;
    }

    .sixth-section .copy-right .social-media-icon .icon img {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .sixth-section .copy-right .social-media-icon .icon {
        justify-content: center;
        display: flex;
        gap: 5px;
    }

    .sixth-section .outter-wrapper .left-inner {
        border-right: 0;
        border-bottom: 2px solid white;
        padding: 1rem 0;
    }

}